LogicApps/bc2adlsCreateSchedule.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "filterString",
                            "value": "enabled eq true"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "Set_variable_2": {
                            "inputs": {
                                "name": "filterString",
                                "value": "enabled eq true AND 'Environment Name' eq '@{triggerBody()?['$environmentName']}'"
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['$environmentName']",
                                "''"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "filterString": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "For_each": {
                "actions": {
                    "Create_Job_queue": {
                        "inputs": {
                            "body": {
                                "friday": "@triggerBody()?['Friday']",
                                "minBetweenRuns": "@triggerBody()?['MinBetweenRuns']",
                                "monday": "@triggerBody()?['Monday']",
                                "recurringJob": "@triggerBody()?['RecurringJob']",
                                "saturday": "@triggerBody()?['Saturday']",
                                "sunday": "@triggerBody()?['Sunday']",
                                "thursdays": "@triggerBody()?['Thursdays']",
                                "tuesday": "@triggerBody()?['Tuesday']",
                                "wednesday": "@triggerBody()?['Wednesday']"
                            },
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_Response')?['access_token']}"
                            },
                            "method": "POST",
                            "uri": "https://api.businesscentral.dynamics.com/v2.0/@{variables('tenantid')}/@{items('For_each')?['environmentName']}/ODataV4/EnvironmentHub_CreateJobQueueEntry?company=@{items('For_each')?['companyGuid']}"
                        },
                        "runAfter": {
                            "Parse_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Parse_Response": {
                        "inputs": {
                            "content": "@body('Request_Token')",
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "string"
                                    },
                                    "expires_on": {
                                        "type": "string"
                                    },
                                    "ext_expires_in": {
                                        "type": "string"
                                    },
                                    "not_before": {
                                        "type": "string"
                                    },
                                    "resource": {
                                        "type": "string"
                                    },
                                    "token_type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Request_Token": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Request_Token": {
                        "inputs": {
                            "body": "client_id=@{variables('clientid')}&client_secret=@{variables('clientsecret')}&resource=https://api.businesscentral.dynamics.com&grant_type=client_credentials",
                            "headers": {
                                "Content-type": "application/x-www-form-urlencoded"
                            },
                            "method": "POST",
                            "uri": "https://login.windows.net/@{variables('tenantid')}/oauth2/token "
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('Get_Environments_and_companies')?['value']",
                "runAfter": {
                    "Get_Environments_and_companies": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_Environments_and_companies": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('BCPT'))}/companies/@{encodeURIComponent(encodeURIComponent('fbb8c514-55e9-ed11-884e-6045bdc8c015'))}/datasets/@{encodeURIComponent(encodeURIComponent('envhub/envhub/v1.0'))}/tables/@{encodeURIComponent(encodeURIComponent('envCompanies'))}/items",
                    "queries": {
                        "$filter": "@variables('filterString')"
                    }
                },
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Set_Client_Id": {
                "inputs": {
                    "variables": [
                        {
                            "name": "clientid",
                            "type": "string",
                            "value": "dd52e8d1-d969-414f-8ce2-26ed233ba75c"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Set_Client_Secret": {
                "inputs": {
                    "variables": [
                        {
                            "name": "clientsecret",
                            "type": "string",
                            "value": "mKF8Q~ojERQwfDuM-.-NX3~gYq0dbaoWVOgpMcQ9"
                        }
                    ]
                },
                "runAfter": {
                    "Set_Client_Id": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Set_Tenant_Id": {
                "inputs": {
                    "variables": [
                        {
                            "name": "tenantid",
                            "type": "string",
                            "value": "f347666b-e7a9-4dbb-a45f-7836c70d3024"
                        }
                    ]
                },
                "runAfter": {
                    "Set_Client_Secret": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "filterString": {
                "inputs": {
                    "variables": [
                        {
                            "name": "filterString",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_Tenant_Id": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_business_event_occurs_(V3)": {
                "inputs": {
                    "body": {
                        "NotificationUrl": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                        }
                    },
                    "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('NL'))}/businessevents/@{encodeURIComponent(encodeURIComponent('ScheduleExport(07b33421-b3f4-4130-a951-6ce4c5bf1cf4)'))}/subscriptions",
                    "queries": {
                        "company": "35b6512c-5277-ee11-817e-6045bde98c0f"
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "dynamicssmbsaas": {
                    "connectionId": "/subscriptions/8bd7f071-400a-438c-bd1e-94132881f7c3/resourceGroups/BertVerbeek/providers/Microsoft.Web/connections/dynamicssmbsaas",
                    "connectionName": "dynamicssmbsaas",
                    "id": "/subscriptions/8bd7f071-400a-438c-bd1e-94132881f7c3/providers/Microsoft.Web/locations/westeurope/managedApis/dynamicssmbsaas"
                }
            }
        }
    }
}