LogicApps/bc2adlsResetTable.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Get_adls_Table": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent(items('For_each')?['environmentName']))}/companies/@{encodeURIComponent(encodeURIComponent(items('For_each')?['companyGuid']))}/datasets/@{encodeURIComponent(encodeURIComponent('bc2adlsTeamMicrosoft/bc2adls/v1.1'))}/tables/@{encodeURIComponent(encodeURIComponent('adlseTables'))}/items",
                            "queries": {
                                "$filter": "tableId eq @{triggerBody()?['TableId']}"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Run_action_(V3)": {
                        "inputs": {
                            "body": {
                                "systemId": "@first(body('Get_adls_Table')?['value'])?['systemId']"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent(items('For_each')?['environmentName']))}/companies/@{encodeURIComponent(encodeURIComponent(items('For_each')?['companyGuid']))}/datasets/@{encodeURIComponent(encodeURIComponent('bc2adlsTeamMicrosoft/bc2adls/v1.1'))}/procedures/@{encodeURIComponent(encodeURIComponent('adlseTable-reset'))}"
                        },
                        "runAfter": {
                            "Get_adls_Table": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Get_Environments_and_companies')?['value']",
                "runAfter": {
                    "Get_Environments_and_companies": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_Environments_and_companies": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('BCPT'))}/companies/@{encodeURIComponent(encodeURIComponent('fbb8c514-55e9-ed11-884e-6045bdc8c015'))}/datasets/@{encodeURIComponent(encodeURIComponent('envhub/envhub/v1.0'))}/tables/@{encodeURIComponent(encodeURIComponent('envCompanies'))}/items",
                    "queries": {
                        "$filter": "enabled eq true"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_business_event_occurs_(V3)": {
                "inputs": {
                    "body": {
                        "NotificationUrl": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['dynamicssmbsaas']['connectionId']"
                        }
                    },
                    "path": "/v3/bcenvironments/@{encodeURIComponent(encodeURIComponent('BCPT'))}/businessevents/@{encodeURIComponent(encodeURIComponent('OnAfterResetSelected(1688530c-452c-4b06-8947-ab4bf5b26053)'))}/subscriptions",
                    "queries": {
                        "company": "fbb8c514-55e9-ed11-884e-6045bdc8c015"
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "dynamicssmbsaas": {
                    "connectionId": "/subscriptions/f5880164-7c89-4117-a79f-a0c4e4f31f98/resourceGroups/D356/providers/Microsoft.Web/connections/dynamicssmbsaas",
                    "connectionName": "dynamicssmbsaas",
                    "id": "/subscriptions/f5880164-7c89-4117-a79f-a0c4e4f31f98/providers/Microsoft.Web/locations/westeurope/managedApis/dynamicssmbsaas"
                }
            }
        }
    }
}